## DAY 3 CLASS ON 20TH JANUARY 2023

## ITERABLE OBJECT

In [ ]:
# TUPLE
# Tuple is unchageable
# Tuple must be ordered
# Tuple is denoted by ()
# To access any value, we use the INDEX LOCATION

In [6]:
num = (23, 4, 7, 37, 8, 78, 48, 12, 100, 8, 67)
print(len(num))

11

In [3]:
print(type(num))

<class 'tuple'>

In [4]:
print(num[4])

8

In [5]:
print(num[-7])

8

In [7]:
print(num[4:7])

(8, 78, 48)

In [8]:
print(102 in num)

False

In [10]:
print(num.count(8))

2

In [11]:
print(num.index(78))

5

In [13]:
print(num.index(100))

8

# LIST: they are changeable and perform every other functions as tuple

In [14]:
fruits = ['Apple', 'Cherry', 'Lemon', 'Grape']

In [16]:
fruits.append('Pearl')
print(fruits)

['Apple', 'Cherry', 'Lemon', 'Grape', 'Pearl']

# NOTE: only one item can be added to the List at a time

In [18]:
newfruits = ['Pawpaw', 'Banana', 'Orange', 'Apple']
fruits.extend(newfruits)
print(fruits)

['Apple', 'Cherry', 'Lemon', 'Grape', 'Pearl', 'Pawpaw', 'Banana', 'Orange', 'Apple']

In [19]:
# the extend function is used to add the second list to the first list

In [20]:
fruits.insert(3, 'Coconut')
print(fruits)

['Apple', 'Cherry', 'Lemon', 'Coconut', 'Grape', 'Pearl', 'Pawpaw', 'Banana', 'Orange', 'Apple']

In [21]:
# note: the location of where the value to be inserted must be specified

In [22]:
fruits.sort()
print(fruits)

['Apple', 'Apple', 'Banana', 'Cherry', 'Coconut', 'Grape', 'Lemon', 'Orange', 'Pawpaw', 'Pearl']

In [23]:
# note: sort is used to arrange the item from A - Z

In [24]:
fruits.reverse()
print(fruits)

['Pearl', 'Pawpaw', 'Orange', 'Lemon', 'Grape', 'Coconut', 'Cherry', 'Banana', 'Apple', 'Apple']

In [25]:
# note: reverse used to arrange item from Z - A

In [26]:
fruits.pop(4)
print(fruits)

['Pearl', 'Pawpaw', 'Orange', 'Lemon', 'Coconut', 'Cherry', 'Banana', 'Apple', 'Apple']

In [27]:
# Pop: used to remove the item at that location from the list

In [28]:
fruits.remove('Lemon')
print(fruits)

['Pearl', 'Pawpaw', 'Orange', 'Coconut', 'Cherry', 'Banana', 'Apple', 'Apple']

In [29]:
# NOTE: used to specific the particular item to be remove from the list

In [30]:
fruits_copy = fruits.copy()
print(fruits_copy)

['Pearl', 'Pawpaw', 'Orange', 'Coconut', 'Cherry', 'Banana', 'Apple', 'Apple']

In [31]:
#NOTE: the above was used to create the duplicate

In [32]:
fruits_copy.clear()
print(fruits_copy)

[]

In [33]:
# NOTE: used to remove all items from the list

In [34]:
del(fruits_copy)
print(fruits_copy)

NameError: name 'fruits_copy' is not defined

# DICTIONARY: use a key to identify values

In [35]:
records = {
    'Name': 'John',
    'Age': 40,
    'Gender': 'Male',
    'Height': 2.1,
    'Weight': 90
}

In [36]:
print(records['Age'])

40

In [37]:
print(records['Height'])

2.1

In [38]:
print(records.keys())

dict_keys(['Name', 'Age', 'Gender', 'Height', 'Weight'])

In [40]:
print(records.values())

dict_values(['John', 40, 'Male', 2.1, 90])

In [41]:
print(records.items())

dict_items([('Name', 'John'), ('Age', 40), ('Gender', 'Male'), ('Height', 2.1), ('Weight', 90)])

In [42]:
# to update value in the dictionary. the spelling must be correct with the previous value

In [45]:
r = {'Age': 7}
records.update(r)
print(records)

{'Name': 'John', 'Age': 7, 'Gender': 'Male', 'Height': 2.1, 'Weight': 90}

In [46]:
# to add new key and value

In [47]:
records['Address'] = 'Gado Nasko'
print(records)

{'Name': 'John', 'Age': 7, 'Gender': 'Male', 'Height': 2.1, 'Weight': 90, 'Address': 'Gado Nasko'}

In [48]:
# to remove the last item

In [49]:
records.popitem()
print(records)

{'Name': 'John', 'Age': 7, 'Gender': 'Male', 'Height': 2.1, 'Weight': 90}

In [50]:
records.pop('Gender')
print(records)

{'Name': 'John', 'Age': 7, 'Height': 2.1, 'Weight': 90}

In [51]:
# the above was used to remove the particular value using the key

In [52]:
# KEY WITH MULTIPLE VALUES IN A DICTIONARY

In [60]:
family = {
    'firstchild':['Ade',30,'Male'],
    'secondchild':['Fatima',25,'Female'],
    'thirdchild':['Bose',22,'Female']
}

In [61]:
print(family['secondchild'])

['Fatima', 25, 'Female']

In [63]:
print(family['secondchild'][1])

25

In [ ]:
# END OF CLASS FOR THE DAY