In [1]:
## Question on Tuple
## 1. write a program to reverse the given tuple (46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55)
## 2. write a program to access value 58 from the above tuple
## 3. write a program to count the number of occurences of item 55 from the above tuple
## 4. write a program to return values of 49 and 57 from the above tuple

In [1]:
examscores = (46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55)
print(len(examscores))

21

In [2]:
print(examscores[::-1])

(55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 45, 55, 48, 45, 53, 46)

In [4]:
## TUPLE is immutable i.e, tuple cannot be modified or changed

In [5]:
print(examscores[9])
print(examscores.count(55))
print(examscores[6])
print(examscores[13])
print(examscores[19])

58
5
49
57
57

In [6]:
## Question on LIST
## 1. write a program to reverse the given tuple (46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55)
## 2. write a program to access value 58 from the above list
## 3. write a program to count the number of occurences of item 51 from the above List
## 4. write a program to return values of 49 and 57 from the above list
## 5. write a program to add item 69 after 49 in the Python List
## 6. write a program to extend [89, 85, 86, 95, 45, 78] to the above program

In [7]:
weights = [46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55]
weights.reverse()
print(weights)
print(weights.count(51))

[55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 45, 55, 48, 45, 53, 46]
2

In [8]:
print(weights[14])
print(weights[1])
print(weights[7])

49
57
57

In [9]:
weights.insert(15, 69)
print(weights)

[55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 69, 45, 55, 48, 45, 53, 46]

In [10]:
otherweights = [89, 85, 86, 95, 45, 78]
weights.extend(otherweights)
print(weights)

[55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 69, 45, 55, 48, 45, 53, 46, 89, 85, 86, 95, 45, 78]

In [11]:
## QUESTION ON DICTIONARY
## Write a Python program to create a new dictionary having
## 10 football club names as the key with each key holding
## following values (Location, Manager's Name, Club Captain, net worth, club formation)
## NOTE: THE NET WORTH OF THE CLUB ARE IN BILLION DOLLARS

In [12]:
footballclubs = {
    'Arsenal':['England', 'Mike Arteta', 'Martin Odegaard', 2.9, 4141],
    'PSG':['France', 'Christopher Galtier', 'Marquinhnos', 3.2, 433],
    'Chelsea':['England', 'Graham Potter', 'Cesar Azpilicueta', 3.1, 343],
    'Barcelona':['Spain', 'Xavi Hernadex', 'Ter Stegen', 5, 433],
    'Napoli':['Italy', 'Luciano Spalletti', 'Giovanni Di Lorenzo', 0.506, 433],
    'Ajax':['Netherlands', 'Alfred Schreuder', 'Dusan Tadic', 0.283, 433],
    'Augsburg':['Germany', 'Enrico Maaben', 'Christopher Timmel', 0.112, 343],
    'Sevilla':['Spain', 'Jorge Sampaoli', 'Marko Dmitrovic', 0.316, 3421],
    'Juventus':['Italy', 'Massimilliano Allegri', 'Leonardo Bonucci', 2.45, 433],
    'Trabzonspor':['Turkey', 'Abdullahi Avci', 'Anthony Nwakeeme', 0.102, 4231]
}

In [13]:
print(footballclubs['PSG'])

['France', 'Christopher Galtier', 'Marquinhnos', 3.2, 433]